pinecone-client>=3.2.2
tiktoken>=0.6.0
pypdf>=4.1.0
unstructured>=0.13.2
langchain-community>=0.0.31
langchain>=0.1.14
langchain-openai>=0.1.1
langchain-google-genai>=1.0.1
langchain-pinecone>=0.1.0
google-generativeai>=0.4.1
python-dotenv>=1.0.1
markdown>=3.6
langchain-cohere>=0.1.4
